langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.39
langchain-openai==0.1.23

openai==1.43.0
tiktoken==0.7.0
faiss-cpu==1.8.0

pyyaml==6.0.2
python-dotenv==1.0.1
gradio==4.44.1
fastapi==0.112.2
uvicorn==0.30.6
httpx==0.27.0

# Pinecone integration
langchain-pinecone==0.2.11
pinecone>=5.0.0